html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 50px;
	margin-bottom: 315px;
}

#side-toggle {
	visibility: hidden;
}

@media screen and (max-width: 1000px) {
	footer {
		height: 700px;
		width: 100%;
		position: absolute;
		bottom: 0;
	}
	body {
		margin-bottom: 700px;
	}
}

/* Sidebar */
@media screen and (max-width: 768px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
		background: white;
	}
	.row-offcanvas-left
  .sidebar-offcanvas {
		left: -25%;
	}
	.row-offcanvas-left.active {
		left: 25%;
	}
	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 25%;
		margin-left: 0px;
	}
	#side-toggle {
		visibility: visible;
		margin-top: 10px;
		height: 28px;
		width: 30px;
	}
}

#sidebar {
	padding: 15px;
	margin-top: 10px;
	background-color: #EEEEEE;
	height: 100vh;
	margin-top: 0;
}

#IMGsample img {
	width: 100%;
}